{% load static %}

{% if project_list  %}
    {% for project in project_list %}
        <div class="project-overview">
            <div class="project-overview-image">
                <a href="/projects/{{ project.id }}">
                    {% comment %} <img width="100%" height="100%" src="{% static 'aventador.jpg' %}" alt={{project.title}} /> {% endcomment %}
                    <img width="100%" height="100%" src="{{ project.image }}" alt="{{project.title}}" />
                </a>
            </div>
            <div class="project-overview-content">
                <div class="project-overview-content-title">
                    <a href="/projects/{{ project.id }}">
                        <strong>{{ project.title }}</strong>
                    </a>
                </div>
                <div class="key-value-list">
                    <div>Marke:</div>
                    <div><a href="{{ project.brand.url }}" target="_blank">{{ project.brand.name }}</a></div>
                    <div>Modell:</div>
                    <div>{{ project.model }} ({{ project.code }})</div>
                    <div>Baujahr:</div>
                    <div>{{ project.production_date }}</div>
                    <div>Mod. Zeit:</div>
                    <div>{{ project.purchase_date | date:"M. Y" }} - {{ project.last_modified | date:"M. Y" }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No projects found.</p>
{% endif %}