body, html {
  height: 100%;
}

.App {
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.jpp-content {
  min-height: 100%;
  height: auto;
  padding-bottom: 150px;
}