.jpp-footer {
    background-color: #2e2c2c17;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 15px;
    position: relative;
    margin-top: -100px;
    min-height: 100px;
    clear: both;
    font-size: 12px;
}

.footerLinks {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.footerLinks li {
    display: inline-block;
    padding: 0px 5px;
    font-size: 16px;
}

.footerLinks li a {
    color: black;
}

.bar {
    color: #201f1f46;
}