.header {
    height: 85px;
    padding: 5px 10px;
    border-bottom: 1px solid #eaeaea;
}
@media screen and (min-width: 500px) {
    .header {
        height: 55px;
    }
}

.header-name {
    float: left;
    margin-top: 10px;
}

.header-logo {
    float: right;
    display: flex;
}

.logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height:auto;
  max-width: 200px;
}
@media screen and (max-width: 370px) {
    .logo {
        max-width: 185px;
      }
}
@media screen and (max-width: 320px) {
    .logo {
        max-width: 140px;
      }
}

.boost-logo {
    height: 35px;
    width: auto;
}

.header-home-link {
    color: white;
    background-color: black;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 800;
}

.header-link {
    color: rgb(95, 94, 94);
    list-style: none;
    text-decoration: none;
    padding: 0;
}